*~
model.log
*/input.csv
__pycache__
.python-version
/output/*
metadata/*
venv/
.DS_Store
.Rproj.user
.Rhistory
.devcontainer/ehrql-main
reports/variation/*
reports/coverage/table_prop_eligible_clinc_demo.csv
reports/coverage/mabs_and_antivirals_coverage_report.html
reports/coverage/figures/*
reports/coverage/tables/*
reports/coverage/*
reports/variation_update/*
released_outputs/reports/coverage/*
reports/coverage_wip/*
analysis/descriptive/mabs-and-avs-by-stp.html