*~
model.log
*/input.csv
__pycache__
.python-version
/output/*
metadata/*
venv/
.DS_Store
.Rproj.user
.Rhistory
reports/variation/*
reports/coverage/table_prop_eligible_clinc_demo.csv
reports/coverage/mabs_and_antivirals_coverage_report.html
reports/coverage/figures/*
reports/coverage/tables/*
released_outputs/reports_wip/coverage/*
reports/coverage_wip/*